meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Soy un ser social
meta(meta name="description" content="Estimados aprendices, en el marco del proceso formativo propuesto por el SENA se concibe el abordaje de la dimensión ética, como eje transversal, a través de la competencia de ética y cultura de paz. En ese sentido, se proponen actividades para que cada uno de ustedes como aprendices SENA comprendan y desarrollen acciones desde un enfoque de la paz que se construye desde el plano individual, para irradiar posteriormente a lo colectivo. Establecer relaciones de crecimiento personal y comunitario a partir del bien común y sobre todo a la construcción de una cultura de paz, es un reto necesario y muy importante para Colombia, para esto se debe reconocer los hechos históricos de violencia y paz, así como estrategias de reconciliación. Esta construcción de nuevas relaciones implica modificación de actitudes para la resolución de conflictos, establecer relaciones personales a partir de una comunicación asertiva, relaciones de solidaridad, de tolerancia; todo ello enmarcado en el respeto por el otro. ")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")