h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'La formación ética desde la Familia', 'main.html#page/La_formacion_etica_desde_la_Familia/')
                    +navTemaItem('2', '¿Cómo me convierto en un ser social?', 'main.html#page/Como_me_convierto_en_un_ser_social/')