h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 240201526 - 02 - Establecer relaciones de crecimiento personal y comunitario a partir del bien común como aporte para el desarrollo social.