.container
    .header-ecored
        h1 1. La formación ética desde la familia 
    .jumbotron.bg-white
        .sub-ecored#11.mt-5
            h2 1.1.	La familia
        p.mt-5 La familia es un grupo de personas unidas por el parentesco, esta unión se puede conformar por vínculos consanguíneos o por un vínculo constituido y reconocido legal y socialmente, como lo es el matrimonio o la adopción. #[strong La familia], es la organización social más general, pero así mismo, la más importante para el ser humano y la sociedad; de ella emanan #[strong los valores fundamentales] que la caracterizan. Ya sea por vínculos sociales, legalmente consagrados o por vínculos sanguíneos, pertenecer a una agrupación de este tipo es de vital importancia en el desarrollo psicológico y social del individuo.
        p La constitución de la familia, por lo general, se hace a través del matrimonio, donde dos individuos se procuran amor, respeto, igualdad y ayuda mutua, con la posibilidad de procrear hijos de manera libre, responsable e informada.
        p.mt-5 Los compromisos derivados del matrimonio son: la convivencia, la asistencia, las obligaciones económicas y la obligación con los hijos. 
        .row.justify-content-center.mt-5.top
            .col-12.col-md-4.my-6.my-md-0
                .avatar.avatar-super.card-avatar.card-avatar-top
                    img(src="assets/images/pages/ilustraciones/img1.svg").avatar-super
                h4.text-center Familias biparentales
            .col-12.col-md-4.my-6.my-md-0
                .avatar.avatar-super.card-avatar.card-avatar-top
                    img(src="assets/images/pages/ilustraciones/img2.svg").avatar-super
                h4.text-center Familias reconstituidas
            .col-12.col-md-4.my-6.my-md-0
                .avatar.avatar-super.card-avatar.card-avatar-top
                    img(src="assets/images/pages/ilustraciones/img3.svg").avatar-super
                h4.text-center Familias adoptivas
        .row.justify-content-center.mt-5.top
            .col-12.col-md-4.my-6.my-md-0
                .avatar.avatar-super.card-avatar.card-avatar-top
                    img(src="assets/images/pages/ilustraciones/img4.svg").avatar-super
                h4.text-center Familias de acogida
            .col-12.col-md-4.my-6.my-md-0
                .avatar.avatar-super.card-avatar.card-avatar-top
                    img(src="assets/images/pages/ilustraciones/img5.svg").avatar-super
                h4.text-center Familias monoparentales
            .col-12.col-md-4.my-6.my-md-0
                .avatar.avatar-super.card-avatar.card-avatar-top
                    img(src="assets/images/pages/ilustraciones/img6.svg").avatar-super
                h4.text-center Familias extensas                            
        .header-arrow2.my-5
            h3.text-center Deberes y derechos que nacen con el matrimonio:
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p.ml-5 El deber de la cohabitación
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p.ml-5 El deber de la fidelidad
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p.ml-5 El deber de la asistencia y ayuda mutua.
                p.mt-5 Estos a su vez, tienen como propósito, construir familias sanas que permitan la construcción de una sociedad fuerte y sólida con personas éticamente responsables.
                p Con el paso del tiempo, los procesos de industrialización y de urbanización, han generado un cambio de perspectiva sobre la familia, entre ellos, la delimitación de la familia a la pareja e hijos y la desaparición al enraizamiento de la tierra. 
        .header-arrow2.my-5
            h3.text-center Lo anterior, se hace evidente en las siguientes características:  
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p.ml-5 El mundo del trabajo ya no es a escala familiar.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p.ml-5 El tejido urbano se generaliza.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p.ml-5 El rol de la mujer cambia.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p.ml-5 La familia se hace móvil.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta.svg", alt="").img-fluid
            .list__txt 
                p.ml-5 La familia de hoy busca asegurar su autonomía.
        .row.justify-content-center.align-items-center
            .col-7
                p La familia es una comunidad abierta en su interior para el exterior y cada uno aprende a ser persona en el seno de tal comunidad. Por lo tanto, podemos hablar de una #[strong ética] de la alteridad (Filosofía de Emmanuel Lévinas, 1998), que se deriva de la presencia del otro en mi vida, “yo me hago persona en cuanto doy de mi al otro que también se hace persona”. Por ello, la base de la educación desarrollada por la familia, consiste en transmitir al niño #[strong las normas y los valores] que le permitirá entender cómo funciona el mundo que lo rodea (Esteve, 2010).
            .col-5
                img.img-a(src="assets/images/pages/ilustraciones/img7.svg", alt="").img-fluid                        
        .row.justify-content-center.align-items-center
            .col-5
                img.img-a(src="assets/images/pages/ilustraciones/img8.svg", alt="").img-fluid 
            .col-7
                p Por consiguiente, vivir de modo humano, se constituye en un compromiso personal para hacer tangibles y reales los valores aprendidos en el seno familiar a través de la conducta y comportamiento, con el fin de promoverlos en la convivencia sana con los demás. El #[strong “valor”] surge cuando vivimos una experiencia que nos demanda y nos invita a darle una respuesta dejando a un lado la indiferencia, generalmente, estas experiencias nos atraviesan, nos forma o nos transforma. La experiencia, es fuente de aprendizaje ético, a partir del cual, decidimos qué aceptamos o qué rechazamos en respuesta a nuestro modo de vida.   
        p.mt-5 Los valores, son creencias prescriptibles que orientan nuestra conducta, convicciones profundas que justifican nuestra existencia, y que se plasma a lo largo de nuestras vidas. Los #[strong valores morales] son nuestras creencias más arraigadas, como si fuera el “alma” de nuestras vidas; estos demarcan y configuran nuestra personalidad, dando sentido a nuestra vida.  
        .sub-ecored#12.mt-5
            h2 1.2.	Reconocer al otro, normas sociales
        .row.justify-content-center.align-items-center.mt-5.color6
            .col-5
                img.img-a(src="assets/images/pages/ilustraciones/img9.svg", alt="").img-fluid 
            .col-7
                p Amador (2004), señala que educar correctamente al niño exige que, desde muy temprana edad, se le enseñen ciertas normas y hábitos de vida que garanticen tanto su salud física y mental como su ajuste social.
        p.mt-5 De acuerdo con lo anterior, podemos afirmar que, la familia se constituye en una de las instituciones y unidades básicas de la sociedad, donde, los individuos realizan las primeras socializaciones y adquieren los primeros aprendizajes, normas y reglas que, determinan la manera de actuar, sentir y relacionarse con el mundo. Estas normas y reglas sociales son disposiciones que tienes que ver con: valores, costumbres, rituales y conductas que están asociadas a normas morales o a la tradición oral y cultural de cada sociedad.
        h3.text-center.media-link2.mt-5 Entonces ¿Qué son las normas sociales?
        p.mt-5 Las normas sociales, son un conjunto de pautas de referencia que, crean una serie de límites y que sirven como modelo, tanto mental como conductual, para relacionarse con el mundo, estas normas se encuentran implícitas en las relaciones y moldean gran parte de nuestras perspectivas; son implícitas porque, aunque están siempre presentes, no siempre es necesario expresarlas en voz alta.
        .row.justify-content-center.align-items-center.color6
            .col-5
                img.img-a(src="assets/images/pages/ilustraciones/img10.svg", alt="").img-fluid 
            .col-7
                p Las normas sociales regulan el comportamiento de los integrantes de un determinado grupo social, clasificando estas conductas en aceptables o no aceptables. Además, las normas pueden variar igualmente según el contexto ya sea a nivel laboral, familiar, en el ámbito de pareja o con los amigos, o la situación en la que nos veamos envueltos.
        h3.text-center.media-link2.mt-5 ¿Para qué sirven las normas sociales? 
        p.mt-5 Todas las sociedades se rigen por normas que buscan garantizar la buena convivencia entre las personas, y de esta manera, no se vulneren las libertades y los derechos. Por esta razón, las normas están encaminadas a evitar conductas que pueden ser destructivas como: la violencia, los actos criminales, las conductas que se consideran antisociales u otros actos que dañan o perjudican a la sociedad en general. Veamos algunos puntos que nos pueden ayudar a responder a esta pregunta:
        .row.justify-content-center.align-items-center
            .col-10   
                .jumbotron.color1
                    p #[strong Sirven para que funcione la sociedad] #[br] Las normas son un elemento importante del sistema social y la convivencia, gran parte de nuestra vida está organizada por normas que promueven patrones de conductas que se ajusten a lo que nuestro grupo social requiere.    
            .col-10   
                .jumbotron.color2
                    p #[strong Tienen una función de regulación y guía del comportamiento] #[br] Las normas ejercen control sobre la conducta de las personas, sirven en para indicar y delimitar las actividades, responsabilidades, obligaciones y alcances que tiene cada individuo. 
    
            .col-10   
                .jumbotron.color3
                    p #[strong Mantienen el orden social] #[br] El orden social hace referencia a un concepto que tiene origen en las ciencias sociales, nos habla de una estructura que consigue que un grupo de personas pueda mantenerse unido sin que reine el caos.

            .col-10   
                .jumbotron.color4
                    p #[strong Otorgan cohesión a la sociedad] #[br] Cuando se habla de cohesión desde el ámbito social, hace referencia a la aceptación y consenso de un grupo de personas, a la percepción de pertenencia que se tiene a ese determinado grupo, comprender que formó parte de un grupo y está unido. 

            .col-10   
                .jumbotron.color5
                    p #[strong Ayudan a conseguir el autocontrol individual] #[br] Al cumplir con una norma que se aplica a toda la sociedad de alguna manera se crea un límite no sólo social, sino individual, se trata de promover y obtener un mayor control de uno mismo basado en la disciplina impuesta al cumplir las normas.
        h3.mt-5 Tipos de normas
        p.mt-5 Existen diferentes tipos de normas que orientan el desarrollo social, cultural y político de la sociedad. El video que te presentamos a continuación, Amoedo 82020), nos ilustra en esta tipología. Observa con atención. Para iniciar, haz clic en el video:
        .card.mt-5
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/-ymZ1TgKUMw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body.mt-0
                strong NORMAS SOCIALES     
        .sub-ecored#13.mt-5
            h2 1.3 La influencia de la ética en la toma de decisiones  
        p.mt-5 En todos los ámbitos de la vida, existe una disposición natural referida a la toma de decisiones, pero cuando se involucra la ética, este tipo de razonamiento debe estar basado en principios y valores, de tal manera que, le permitan al individuo tomar decisiones correctas o aceptables. Sin embargo, no se ha establecido un procedimiento único para realizar un proceso de toma de decisiones, pues esto varía de acuerdo a cada persona y lo que ella considere importante frente a la situación que esté viviendo.
        p Durante el proceso que seguimos para la toma de una decisión, podemos hacernos las siguientes preguntas: ¿quiénes deben intervenir en el proceso de decisión?, ¿quiénes deben definir las alternativas?, ¿cuáles son las alternativas posibles?, ¿quiénes deben participar en la definición de los criterios de decisión?, ¿quiénes deben evaluar las alternativas?, ¿cuáles áreas de su vida se verán afectadas por su decisión?, ¿cuál es el criterio al que le dará más peso para tomar su decisión?, etc 
        img.img-a(src="assets/images/pages/ilustraciones/img11.svg", alt="").img-fluid 
        p.mt-5 Estas preguntas se concretan en un proceso de toma de decisiones y del cual, en diversas ocasiones, no consientes. A continuación, vamos a describir seis pasos que deberás tener en consideración en el momento que debas tomar una decisión, ya sea en una situación particular de la vida cotidiana o en el mundo laboral. 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img12.svg", alt="").img-fluid
        p.mt-5 Tanto en la vida personal y profesional, la ética debe permear los procesos de toma de decisión, de manera que, cuando surjan los dilemas de dos o más alternativas que presentan condiciones de incertidumbre para actuar bien, se pueda actuar bajo los parámetros éticos establecidos para el ejercicio de la profesión o como individuos. Si bien es cierto, no todos los conflictos son de naturaleza ética, estos surgen cuando aspectos relacionados con la moral, con la conciencia, entran en desacuerdos con nuestra vida y demanda la toma de decisiones éticas.
        p.mt-5 Para finalizar, se presentan diez tips para la toma de decisiones que, junto con las estudiadas con anterioridad, podrán ser de gran ayuda en el momento de afrontar situaciones que requieran la toma de decisiones propias. 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img13.svg", alt="").img-fluid         
        .row.justify-content-center.align-items-center.mt-5
            .col-5.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img14.svg").img-fluid 
            .col-5.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img15.svg").img-fluid               
        .row.justify-content-center.align-items-stretch
            .col-5.mx-2.pt-6.px-4.pb-4.color9   
                h4.mt-5 Toma conciencia del proceso de Toma de Decisiones
                p Decide activamente y sé consciente del proceso de toma de decisiones. 
                h4 ¡RECUERDA!:
                p No eres responsable del resultado de la decisión, pero si de como la tomas.
            .col-5.mx-2.pt-6.px-4.pb-4.color10
                h4.mt-5 Identifica Claramente tus objetivos
                p Reflexiona sobre aquello que realmente quieres conseguir (tus objetivos primarios.) Sé ambicioso con tus objetivos si buscas resultados que tengan impacto.
                h4 ¡CUIDADO!:
                p Es fácil embelesarse con objetivos secundarios o excesivamente conformistas.
        .row.justify-content-center.align-items-center.mt-5
            .col-5.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img16.svg").img-fluid 
            .col-5.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img17.svg").img-fluid               
        .row.justify-content-center.align-items-stretch
            .col-5.mx-2.pt-6.px-4.pb-4.color11   
                h4.mt-5 Sé realista en el planteamiento del problema
                p Céntrate en los hechos y no en las opiniones y juicios de valor. 
                h4 ¡CUIDADO!:
                p No busques culpables ni incluyas la solución en el enunciado del problema (estarás limitando tus alternativas y capacidad de decidir).
            .col-5.mx-2.pt-6.px-4.pb-4.color12
                h4.mt-5 No te autoengañes
                p Evita cometer el error de buscar pretextos para justificar decisiones erróneas (es un mecanismo subconsciente natural del ser humano).
                h4 ¡RECUERDA!:
                p El enemigo muchas veces puede ser tú mismo.
        .row.justify-content-center.align-items-center.mt-5
            .col-5.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img18.svg").img-fluid 
            .col-5.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img19.svg").img-fluid               
        .row.justify-content-center.align-items-stretch
            .col-5.mx-2.pt-6.px-4.pb-4.color13  
                h4.mt-5 Atiende solo la información relevante
                p Evita gestionar millones de datos poco significativos, evitarás perder tiempo. 
                h4 ¡CUIDADO!:
                p No desestimes información relevante porque sea contraria a tus intereses. 
            .col-5.mx-2.pt-6.px-4.pb-4.color14
                h4.mt-5 Reconoce y gestiona la incertidumbre
                p Mantén el escepticismo sobre tus propias suposiciones, esto te permitirá replantar la situación y tomar mejores decisiones.
                h4 ¡IMPORTANTE!:
                p Tomar una decisión implica asumir riesgos.
        .row.justify-content-center.align-items-center.mt-5
            .col-5.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img20.svg").img-fluid 
            .col-5.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img21.svg").img-fluid               
        .row.justify-content-center.align-items-stretch
            .col-5.mx-2.pt-6.px-4.pb-4.color15   
                h4.mt-5 Sé creativo
                p Genera un buen numero de alternativas, es peligroso tener una única idea.
                h4 ¡CUIDADO!:
                p No confundas la fase de “generación de ideas” con “evaluación de ideas”.
            .col-5.mx-2.pt-6.px-4.pb-4.color16
                h4.mt-5 Tus decisiones tienen consecuencias
                p Ten en cuenta que las decisiones que tomes tendrán consecuencias sobre el problema, los demás y sobre ti mismo.
                h4 ¡RECUERDA!:
                p Ten en cuenta los potenciales resultados negativos antes de tomar una decisión.
        .row.justify-content-center.align-items-center.mt-5
            .col-5.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img22.svg").img-fluid 
            .col-5.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img23.svg").img-fluid               
        .row.justify-content-center.align-items-stretch
            .col-5.mx-2.pt-6.px-4.pb-4.color17  
                h4.mt-5 Pon en práctica tus decisiones
                p Realiza lo que has decidido y préstale atención a como se ejecuta.
                h4 ¡RECUERDA!:
                p De nada sirve la reflexión si no va acompañada de la acción. 
            .col-5.mx-2.pt-6.px-4.pb-4.color18
                h4.mt-5 Ten en cuenta que no todo es racionalidad
                p Apártate de la vertiente racional, también debes tener en cuenta la emocional. #[br] El papel de la intuición es fundamental en las decisiones que se tienen que tomar rápidamente.
                h4 ¡CUIDADO!:
                p La intuición solamente funciona cuando hay mucha experiencia en la toma de decisiones.

        section.mt-5