.container
    .header-ecored
        h1 2. ¿Cómo me convierto en un ser social?
    .jumbotron.bg-white
        .sub-ecored#21.mt-5
            h2 2.1. Ambientes sociales: concepto 
        p.mt-5 Los seres humanos creamos un espacio social donde interactuamos, crecemos, nos desarrollamos tales como la infraestructura, las relaciones sociales y el universo cultural que nos rodea. El entorno social está constituido en el aspecto físico por las ciudades y otros asentamientos creados por el ser humano, por el modo en que estos se relacionan entre sí y por las distintas estructuras culturales, políticas y sociales que actúan sobre cada uno y sobre el conjunto de las personas. Este concepto puede equivaler a otros conceptos como sociedad, contexto social, ámbito, ambiente social.
        .header-arrow2.my-5
            h3.text-center Características del entorno social
        p.mt-3 El entorno social abarca dos aspectos: el material y el inmaterial.              
        .row.justify-content-center.align-items-stretch
            .col-5.mx-2.pt-6.px-4.pb-4.color19 
                h4 Aspecto material
                p Es el que comprende el conjunto de viviendas, servicios públicos, vialidad, pueblos, ciudades, etc., que rodean y contienen a cada individuo.
                p El hogar, la escuela, la universidad y luego la empresa donde se trabaje, constituyen los sitios primordiales en donde se generan las interrelaciones del entorno social, y de ellos depende en gran parte la salud física y mental de las personas.
            .col-5.mx-2.pt-6.px-4.pb-4.color20
                h4 Aspecto inmaterial
                p El aspecto inmaterial es el que tiene que ver con las relaciones de parentesco (familia), el idioma, la clase social, los valores culturales, religiosos, las relaciones de poder, etc. Todas estas relaciones se dan en el seno de una sociedad y comienzan en la familia.
        .header-arrow2.my-5
            h3.text-center Elementos del entorno social
        p.mt-5 Los elementos que conforman el entorno social pueden variar de acuerdo con el lugar donde se encuentre el individuo, y el peso o la importancia de estos cambia según la cultura o valores de cada grupo humano.
        .row.justify-content-center.mt-5
            .col-9
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img24.svg").large-imgSize2
                        p.card__copy 
                            span 
                                h3 Familia
                                p La familia, como primer origen de la sociedad, es la que influye principalmente en los primeros años de vida de una persona. En este sentido, es importante que en las familias se considere el respeto y el amor como algo esencial para la convivencia. El nivel socioeconómico de la familia, los ingresos percibidos, el nivel cultural de los progenitores, así como su nivel educativo, determinan la percepción de los niños y niñas de su entorno social. Así, una casa cuidada, un ambiente acogedor y protector, ayudará a que los miembros de una familia establezcan lazos sanos con su entorno.     
            .col-9
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img25.svg").large-imgSize2
                        p.card__copy 
                            span 
                                h3 Escuela
                                p Del mismo modo, la escuela es un lugar de socialización donde aprendemos a relacionarnos con los demás. Esta es una de sus principales funciones sociales. Así mismo, cuando los niños crecen y estudian en escuelas agradables, la respuesta tanto social como académica es mucho más significativa. Por el contrario, cuando este entorno social es agresivo, desaseado o riesgoso, esto podrá traer consecuencias negativas o determinar la forma como el estudiante asume su aprendizaje tanto social como académico (#[a(href="https://www.lifeder.com/entorno-social/" target="_blank") https://www.lifeder.com/entorno-social/] ).      
            .col-9
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img26.svg").large-imgSize2
                        p.card__copy 
                            span 
                                h3 Sociedad
                                p La sociedad en la que crece un individuo está formada por miles o millones de otros individuos que comparten determinados valores culturales. De acuerdo con esto, factores como la religión o los valores éticos pueden tener mayor o menor peso, y ejercer distintas influencias en cada persona.
                                p En estos momentos se habla también de un #[strong entorno virtual,] la participación de las personas en las distintas redes sociales, influye de manera decisiva en la forma como nos relacionamos, ya que éste vas más allá de las fronteras nacionales, de esta forma creamos grupos, comunidades donde se discute y se comparte un gusto o una creencia, no obstante muchos de ellos son mal utilizados, como cuando se utilizan estos medios para hacer lo que se conoce como ciberbullying, el acoso cibernético,  El grooming, el cual es el acoso y abuso sexual online.   
            .col-9
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img27.svg").large-imgSize2
                        p.card__copy 
                            span 
                                h3 Entorno social de una empresa
                                p El entorno social de una empresa incluye las relaciones sociales entre los empleados dentro del campo laboral, las comunicaciones internas y los diferentes aspectos que usualmente las empresas abordan desde su sección de recursos humanos, destinados a mejorar el entorno social de cada trabajador. Esto incluye desde un diseño adecuado del ambiente de trabajo (espacios para trabajar, para descansar, para socializar) hasta condiciones en las contrataciones, con las que los empleados se sientan satisfechos, respetados y tomados en cuenta.    
        .sub-ecored#22.mt-5
            h2  2.2. El trabajo como elemento social en su FPI (Formación Profesional Integral). 
        p.mt-5 Según el PEI, La Formación Profesional Integral que imparte el SENA, constituye un proceso educativo teórico-práctico de carácter integral, orientado al desarrollo de conocimientos técnicos, tecnológicos y de actitudes y valores para la convivencia social, que le permiten a la persona actuar crítica y creativamente en el mundo del trabajo y de la vida.  Uno de los principios de la FPI es el Trabajo Productivo, el cual hace referencia a la aceptación de que el desarrollo de las facultades humanas se logra fundamentalmente a través del trabajo, esto es, mediante la transformación intencional que el hombre hace de su entorno físico y social.
        p El mundo del trabajo se refiere a la actividad productiva en el ámbito laboral y el mundo de la vida a la construcción de la dimensión personal y social. Es un proceso educativo teórico-práctico con currículos determinados por las necesidades y perspectivas de los sectores productivos y de la demanda social, estructurados a partir de diferentes niveles tecnológicos y de desarrollo empresarial, desde el empleo formal, hasta el trabajo independiente.
        p Dicha formación implica el dominio operacional e instrumental de una ocupación determinada, la apropiación de un saber técnico y tecnológico integrado a ella, y la capacidad de adaptación dinámica a los cambios constantes de la productividad; la persona así formada es capaz de integrar tecnologías, moverse en la estructura ocupacional, además de plantear y solucionar creativamente problemas y de saber hacer en forma eficaz.
        p Sólo una formación fundamentada en conocimientos científicos y tecnológicos permite la comprensión de la dinámica productiva y facilita la movilidad y promoción laboral del trabajador. La formación profesional articula el conocimiento a la operación para lo cual se requiere manejar el concepto como categoría que posibilita la comprensión, la explicación y la transformación.
        h3.text-center.mt-5 FORMACION PROFESIONAL INTEGRAL (FPI)
        .color21.mt-3
            p La formación profesional que imparte el SENA, constituye un proceso educativo teorico-práctico de carácter integral, orientado al desarrollo de conocimientos técnicos, tecnológicos y de actitudes y valores para la convivencia social, que le permiten a la persona actuar crítica y creativamente en el mundo del trabajo y de la vida.
        h4.mt-5 APRENDIZAJE POR PROYECTOS
        p La formación en el SENA se implementa mediante el aprendizaje por proyectos formativos que tienen como finalidad, la potencialización y desarrollo de las competencias Específicas y Generales laborales 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img28.svg", alt="").img-fluid        
        section.mt-5